h1{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.ban{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.bann{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}
.banne{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orn{
    color: orangered;
    font-weight: bold;
}
.sz{
    font-size: larger;
    font-style: bold;
}
section{
    display: flex;
}
.wid{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.wid img{
    width: 80%;
}
.but{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    background-image: linear-gradient(darkblue, skyblue);
    border-radius: 5px;
    padding: 2% 4%;
}
.box{
    box-shadow: 10px 10px 40px gray;
    padding: 25px 10px;
}
.brd1{
    border-image: linear-gradient( seagreen, lightgreen);
    border-right: 7px solid;
    border-image-slice: 1;
}
.brd2{
    border-image: linear-gradient( seagreen, lightgreen);
    border-left: 7px solid;
    border-image-slice: 1;
}
.brd3{
    border-image: linear-gradient( seagreen, lightgreen);
    border-bottom: 7px solid;
    border-image-slice: 1;
}
.brd4{
    border-image: linear-gradient( seagreen, lightgreen);
    border-top: 7px solid;
    border-image-slice: 1;
}
footer p{
    text-align: center;
}